/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.header
{

  background-color: #006699;
  padding: 10px;
  padding-bottom:20px;
  height: 150px;
}


h1
{color: #006699;
  
}

.header a
{
color: #ffffff;
}
.header a:hover
{
background-color: #006699;
  float: none;
}
.signout
{


}
h2
{

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 29px;
  color:#ffffff;
  line-height: 18px;

}
.footer  
{
     color: #ffffff;
     font-size: 9px;
     font-family: Verdana, Geneva, Arial, sans-serif;
     background-color: #006699;
     text-align: center;
     position: absolute;
     bottom: 0px;
     left: 0px;
     width: 100%;
     height: 50px;
     }
.year
{
  
    color:000000;
     font-size: 18px;
}

nav ul {
    font-family: Arial, Verdana;
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: block;
    position: relative;
    float: left;
    font-size: 18px;
   width: auto;
}
nav li ul {
    display: none;
    font-size: 18px;
}
nav ul li a {
    display: block;
    font-size: 18px;
    text-decoration: none;

    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #7DC24B;
    margin-left: 1px;
    white-space: nowrap;
}
nav ul li a:hover {
  font-size: 18px;
  background: #7DC24B;
}
nav li:hover ul {
  font-size: 18px;
    display: block;
    position: absolute;
}
nav li:hover li {
  font-size: 18px;
    float: none;
    font-size: 11px;
}
nav li:hover a { font-size: 18px;
  background: #7DC24B; }
nav li:hover li a:hover {
font-size: 18px;
    background: #7DC24B;
}

/* tables */
table.tablesorter {
border-collapse: collapse;
padding: 10px;
width: 100%
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 15px;
  padding: 4px;
  height: 30px;
}
table.tablesorter thead tr .header {
  background-image: url(bg.gif);
 color: #ffffff;
  font-size: 15px;
  background-color: #006699;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding:15px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }







