/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.header
{

  background-color: #006699;
  padding: 10px;
  padding-bottom:20px;
  height: 150px;

}


h1
{color: #006699;
  
}

.header a
{
color: #ffffff;
}
.header a:hover
{
background-color: #006699;
  float: none;
}
.signout
{


}
.wrapper {
min-height:100%;
position:relative;
}
h2
{

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 29px;
  color:#ffffff;
  line-height: 18px;

}
.content {
padding:10px;
padding-bottom:90px; /* Height of the footer element */
}
.footer
{
     color: #ffffff;
  width:100%;
height:80px;
position:absolute;
bottom:0;
left:0;
background-color: #006699;



     }
.year
{
  
    color:000000;
     font-size: 18px;
}

nav ul { border-radius: 24px;
    font-family: Arial, Verdana;
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li { border-radius: 24px;
    display: block;
    position: relative;
    float: left;
    font-size: 18px;
   width: auto;
}
nav li ul {
    display: none;
    font-size: 18px;
}
nav ul li a {
    display: block;
    font-size: 18px;
    text-decoration: none;

    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #7DC24B;
    margin-left: 1px;
    white-space: nowrap;
}
nav ul li a:hover {
  font-size: 18px;
  background: #7DC24B;
}
nav li:hover ul {
  font-size: 18px;
    display: block;
    position: absolute;
}
nav li:hover li {
  font-size: 18px;
    float: none;
    font-size: 11px;
}
nav li:hover a { font-size: 18px;
  background: #7DC24B; }
nav li:hover li a:hover {
font-size: 18px;
    background: #7DC24B;
}

/* tables */


.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }





/*current menu css */

#cssmenu{ height:37px; display:block; padding:0; border:1px solid; border-radius:5px; font-weight:bold;}
#cssmenu > ul {list-style:inside none; padding:0; margin:0;font-weight:bold;}
#cssmenu > ul > li {font-weight:bold;list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}
#cssmenu > ul > li > a{font-weight:bold; outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); }
#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;}
#cssmenu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; }
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;}
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; }
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;}
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; }
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;}
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;}
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; }
#cssmenu ul li > ul{width:200px;}
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); }



#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#97c20a; background:-moz-linear-gradient(top, #97c20a 0%, #8da408 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#97c20a), color-stop(100%,#8da408)); background:-webkit-linear-gradient(top, #97c20a 0%,#8da408 100%); background:-o-linear-gradient(top, #97c20a 0%,#8da408 100%); background:-ms-linear-gradient(top, #97c20a 0%,#8da408 100%); background:linear-gradient(top, #97c20a 0%,#8da408 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c20a', endColorstr='#8da408',GradientType=0 ); }
#cssmenu{border-color:#647306;}
#cssmenu > ul > li > a{border-right:1px solid #647306; color:#fff;}
#cssmenu > ul > li > a:after{border-color:#c2f224;}
#cssmenu > ul > li > a:hover{background:#7fa208;}








