/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.header
{

  background-color: #006699;
  padding: 10px;
  font-size: 19px;

  height: 120px
}
h2
{

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 29px;
  color:#ffffff;
  line-height: 18px;

}
.footer  
{
     color: #ffffff;
     font-size: 9px;
     font-family: Verdana, Geneva, Arial, sans-serif;
     background-color: #006699;
     text-align: center;
     position: absolute;
     bottom: 0px;
     left: 0px;
     width: 100%;
     height: 50px;
     }
.year
{
  
    color:000000;
     font-size: 18px;
}

nav ul {
    font-family: Arial, Verdana;
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;


}

nav ul li {
    display: block;
    position: relative;
    float: left;
    font-size: 18px;

 width: auto;
}
nav li ul {
    display: none;
    font-size: 18px;


}
nav ul li a {
    display: block;
    font-size: 18px;
    text-decoration: none;

    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #7DC24B;
    margin-left: 1px;
    white-space: nowrap;
}
nav ul li a:hover {
  font-size: 18px;
background: #7DC24B;
}
nav li:hover ul {
  font-size: 18px;
    display: block;
    position: absolute;
}
nav li:hover li {
  font-size: 18px;
    float: none;
    font-size: 11px;
}
nav li:hover a { font-size: 18px;
  background: #7DC24B; }
nav li:hover li a:hover {
font-size: 18px;
    background: #7DC24B;
}
